<% include main_layout.ejs %>
    <div class="table-wrapper">
        <h2> Les nouvelles régions en France </h2><br/>
        <% if (regions.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Numéro</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Chef Lieu</th>
                    </tr>
                </thead>
                <tbody>
                    <% regions.forEach((Region, index) => { %>
                        <tr>
                            <th scope="row"><%= Region.IdRegion %></th>
                            <td scope="row"><%= Region.NomRegion %> </td>
                            <td scope="row"><%= Ville.ChefLieuRegion %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>