<% include main_layout.ejs %>
    <div class="row">
        <div class="col-md-12">
            <p><img class="map" src="./img/region-auvergne-rhone-alpes.png" alt="auvergne-rhone-alpes map"/></p>
            <a href="/" class="btn btn-primary"> Retour </a>
        </div>
    </div>
</body>
</html>